html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.species-status{
  font-weight: 500;
  padding-left: 0.5rem;
}
.estado {
	display: inline-flex;
}
.estado span {
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
}
.Alive {
	background: #31a703;
}
.Dead {
	background: #d34b4b;
}
.unknown {
	background: #afafaf;
}

.card-character {
    border-radius: 6px ; 
	color: white;
	padding: 0px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	transition: all 400ms ease !important; 
	/* box-shadow: #afafaf 0px 0px 15px; */
}

.card-character:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

h3{
  font-weight: 800 !important;
}
.text-secondary{
  display: flex;
  margin-top: 7px;
}
.title-link.Alive:hover ,
.card-text.Alive:hover{
  color: rgb(25, 255, 82);
}
.title-link.Dead:hover,
.card-text.Dead:hover{
  color: rgb(245, 23, 23);
}
.title-link.unknown:hover,
.card-text.unknown:hover {
  color: rgb(77, 76, 76);
}
.card-text, .title-link{
  background: none;
}
.title-link{
	text-decoration: none;
	color: #ffff;
}
.img-logo{
	margin-left: 100px;
	height: 80px;
	width: 180px;
}